*, *:before, *:after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    background: #eee;
  }
  
  body, button {
    color: #444;
    font-family: 'Roboto condensed', sans-serif;
  }
  
  .background {
    display: flex;
    min-height: 100vh;
  }
  
  .container {
    /*flex: 0 0 360px;*/
    margin: auto;
    padding: 10px;
  }
  
  .screen {
    background: white;
    box-shadow: 0 0 20px rgba(0,0,0,.05);
    border-radius: 8px;
  }
  
  .profile-detail {
    position: relative;
    padding: 30px;
  }
  
  .profile-follow {
    position: absolute;
    top: 30px;
    right: 30px;
  }
  
  .profile-follow-btn {
    padding: 10px 25px 8px;
    background: #1A2238;
    color:#F4DB7D;
    border: none;
    border-radius: 5px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, .1);
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1.2px;
    cursor: pointer;
    transition: transform .2s, box-shadow .2s;
  }
  
  .profile-follow-btn:hover {
    transform: translate(0, -2px);
    box-shadow: 0 16px 30px rgba(0, 0, 0, .1);
  }
  
  .profile-picture {
    width: 60px;
    height: 60px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    overflow: hidden;
    margin-bottom: 30px;
  }
  
  .profile-picture-image {
    width: 100%;
  }
  
  .profile-name {
    font-size: 18px;
  }
  
  .profile-location {
    margin-top: 15px;
    color: #aaa;
    font-size: 14px;
  }
  
  .profile-description {
    margin-top: 20px;
    font-size: 1rem;
    line-height: 20px;
  }
  
  .profile-stats {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    border-top: 1px solid #f5f5f5;
  }
  
  .profile-stat {
    width: 60px;
    cursor: pointer;
  }
  
  .profile-stat-value {
    font-size: 20px;
    letter-spacing: -2px;
  }
  
  .profile-stat-desc {
    font-size: 12px;
  }
  
  .profile-albums {
    position: relative;
    padding: 30px;
    border-top: 1px solid #f5f5f5;
  }
  
  .profile-albums-menu {
    position: absolute;
    top: 30px;
    right: 30px;
    color: #ddd;
    cursor: pointer;
  }
  
  .profile-albums-list {
    display: flex;
    flex-wrap: wrap;
    margin: 5px -5px 0;
  }
  
  .profile-album {
    position: relative;
    flex: 0 0 50%;
    padding: 5px;
    cursor: pointer;
  }
  
  .profile-album-image {
    padding-top: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
  }
  
  .profile-album-title {
    position: absolute;
    bottom: 10px;
    left: -5px;
    min-width: 100px;
    padding: 4px;
    background: #fff;
    border-radius: 5px;
    text-align: center;
    transition: transform .2s;
  }
  
  .profile-album:hover .profile-album-title {
    transform: translate(0, -2px);
  }
  
  #album-1 {
    background-image: url(/map.jpg);
  }
  
  #album-2 {
    background-image: url(/ux.jpg);
  }
  #album-3 {
    background-image: url(/cloud.jpg);
  }
  #album-4 {
    background-image: url(/da.jpg);
  }
  #album-5 {
    background-image: url('https://source.unsplash.com/random/?iot');
  }
  #album-6 {
    background-image: url('https://source.unsplash.com/random/?data');
  }
  #album-7 {
    background-image: url('https://source.unsplash.com/random/?technology');
  }
  #album-8 {
    background-image: url('https://source.unsplash.com/random/?data');
  }


  
  
  .credits {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-family: 'Roboto condensed', sans-serif;
  }
  
  .credits-link {
    display: flex;
    align-items: center;
    color: #FF6A3D;
    font-weight: bold;
    text-decoration: none;
  }
  
  .dribbble {
    width: 20px;
    height: 20px;
    margin: 0 5px;
  }
  
